<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>雪行风上 | 文章详情</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_799773_4q5k5xrkrm8.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body>
  <div id="wrap">
    <!-- 头部 -->
    <header id="header">
      <div id="header-outer">
        <div class="container">
          <div class="container-inner">
            <div id="header-title">
             <h1 class="logo-wrap">
               <a href="index.php" class="sw-logo"></a>
             </h1> 
             <h2 class="subtitle-wrap" style="display: inline-block;">
               <p class="subtitle">社区型博客</p>
             </h2>
            </div>
            <div class="nav-container-inner">
              {if $_SESSION['isLogin']}
              <span id="login-area">嗨, {$user}</span>
              
              <ul class="nav nav-tabs" id="user-nav">
                <li role="presentation"><a href="index.php?m=addatc">添加文章</a></li>
                <li role="presentation"><a href="index.php?m=addphoto">添加相册</a></li>
                <li role="presentation"><a href="index.php?m=index&a=logout">退出登录</a></li>
              </ul>
              {/endif}
              <ul class="nav nav-pills" id="nav-ul">
                <li role="presentation" class="active"><a href="index.php">主页</a></li>
                <li role="presentation"><a href="index.php?m=gallery">画廊</a></li>
                <li role="presentation"><a href="index.php?m=about">关于</a></li>
                <li role="presentation"><a href="index.php?m=signup">加入我们</a></li>
              </ul>
            </div>
            <div id="header-inner"></div>
          </div>
        </div>
      </div>
    </header>
    <!-- 内容部分 -->
    <div id="container">
      <div class="container">
        <div class="panel panel-default panel-wrap">
            <h2 class="detail-sort">文章详情
              {if $_SESSION['username'] == $author}
                <a href="index.php?m=artail&a=del&id={$id}" class="glyphicon glyphicon-remove">删除</a>
                <a href="index.php?m=artail&a=edit&id={$id}" class="glyphicon glyphicon-edit">编辑</a>
              {/endif}
            </h2>
          <div class="panel panel-heading about-text">
            <h3 class="a-title">{$title}</h3><span>{$author}</span>
          </div>
          <div class="panel-body">
            <p>{$text}</p>
            <time><i class="glyphicon glyphicon-time"></i> {$wrtime}</time>
          </div>
          <div class="panel-footer">
            <form action="index.php?m=artail&a=comment" method="post">
              <input type="hidden" value="{$pid}" name="pid">
              <span class="comment">
                <label for="comm"><i class="glyphicon glyphicon-comment"> 评论</i></label>
                <label for="collect"><i class="glyphicon glyphicon-star"> <input id="collect" type="checkbox" name="collect">收藏</i></label>
                <label for="like"><a href="JavaScript:void(0)"><i class="glyphicon glyphicon-thumbs-up"> <input id="like" type="radio" name="like">点赞</i></a></label>
              </span>
              <textarea id="comm" class="comment-text" cols="50" rows="5" placeholder="添加评论..." name="content"></textarea>
               <button type="submit" class="btn btn-info">发表评论</button>
            </form>
            <h4 class="list-title">评论列表</h4>
            {for $i = 0; $i < $commnum; $i++}
            <div class="comment-list">
              <h5>{$content[$i]}</h5><br>
              <span><i class="glyphicon glyphicon-user"></i> {$commuser[$i]} &nbsp;</span>
              <time><i class="glyphicon glyphicon-time"></i> {$commtime[$i]}</time>
            </div>
            {/endfor}
          </div>
        </div>
      </div>
    </div>
    <!-- 尾部 -->
    <footer">
      <div id="footer">
        <div class="line-wrap">
          <span></span>
          <div class="author"></div>
        </div>
        <section class="auth-info">
          <p>Hello ,I'm Larry Page in Google. <br>
            This is my blog,believe it or not.
          </p>
        </section>
        <div class="social">
          <a href="https://github.com/nanqic" class="iconfont icon-github" target="_blank"></a>
          <a href="https://zhihu.com" class="iconfont icon-zhihu" target="_blank"></a>
          <a href="mailto:nanqic@163.com" class="iconfont icon-youxiang" target="_blank"></a>
          <a href="" class="iconfont icon-facebook"></a>
          <a href="" class="iconfont icon-tuitetwitter43"></a>
          <a href="" class="iconfont icon-CN_bilibiliB"></a>
          <a href="" class="iconfont icon-shejiaoweibo"></a>
          <a href="" class="iconfont icon-shejiaoweixin"></a>
          <a href="" class="iconfont icon-shejiaoqq"></a>
        </div>
      </div>
      <p class="copyright">Powered by bootstrap and Author by Nanqic © 2018 Copyright</p>
    </footer>
  </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="js/jquery.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
