<div class="ladytop" style="height: 75px">
    <div class="nav">
        <div class="right">
            <div class="box">
                <a href="{:url('/index')}">首页</a>
                {volist name="cates" id="vo"}
                <a href="{:url('cate/index',array('cateid'=>$vo['id']))}">{$vo.catename}</a>
                {/volist}
            </div>
        </div>
    </div>
</div>
<div class="hotmenu">
    <div class="con">热门标签：
        {volist name="click" id="vo"}
        <a href="{:url('/index/search/index', ['keywords'=>$vo.keywords])}">{$vo.keywords}</a>
        {/volist}
    </div>
</div>